@import '../../index.scss';

label {
  color: $primary-color;
  font-weight: 600;
}

.salary-type {
  display: flex;
  align-items: center;
  margin-bottom: 0.35em;

  .info {
    border: 1px solid $secondary-color;
    font-size: 0.75em;
    padding: 0.7em;
    border-radius: 50%;
    width: 1.2em;
    display: flex;
    height: 1.2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .info--right {
    margin-left: 1em;
  }
}

.secondary {
  color: $secondary-color;
  font-weight: 600;
}
.primary {
  color: $primary-color;
  font-weight: 600;
}
.small {
  font-size: 0.9em;
}
.active {
  color: $primary-color;
}

.ndfl-container {
  padding: 0.5em 1.55em;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  label {
    cursor: pointer;
  }

  .ndfl-switch {
    margin: -0.5em 0.1em 0 0.5em;

    label {
      cursor: pointer;

      &::before {
        background-color: #e9e8e3;
        box-shadow: unset !important;
        width: 1.85em;
        height: 1.2em;
        border-radius: 1.5em;
      }
      &::after {
        width: calc(1.2em - 4px);
        height: calc(1.2em - 4px);
        top: calc(0.25em + 2px);
        left: calc(-2.35em + 3px);
      }
    }
  }
}

.salary-container {
  padding: 0 1.55em;
  display: flex;
  align-items: center;

  .form-control {
    width: 66%;
    border-radius: 2em;
    height: 1.8em;
    border: 1px solid $secondary-color;
    color: $primary-color;
    font-weight: 600;
    box-shadow: unset;
    width: 11em;
  }
}
